extends ../application.jade

block main
    .ui.main.fluid.blue.secondary.inverted.vertical.segment
        form#form(
            ic-get-from="/api/cards",
            ic-target="#search-results",
            ic-trigger-on="submit"
            )
            .ui.fluid.inverted.transparent.left.icon.input
                input.prompt(
                    type=text,
                    name="q",
                    placeholder="ie: Liliana Vess",
                    ic-get-from="/api/cards",
                    ic-target="#search-results",
                    ic-trigger-delay="500ms"
                    ic-trigger-on="keyup changed"
                )#search
                i.search.icon

    .ui.three.column.padded.grid
        .ten.wide.column
            #search-results
        .ui.vertical.divider
        .six.wide.column
            #card