if cards
    .ui.main.fluid.vertical.segment
        table.ui.very.basic.single.line.table
            tbody
                for card in cards
                    tr
                        td.collapsing #{card.name}
                        td!= mana.mana(card.manaCost)
                        td
                           if card.tags
                               .ui.blue.labels
                                   for tag in card.tags
                                       .ui.label #{tag}
                        td.collapsing
                            .ui.primary.button(
                                ic-get-from="/api/cards/#{card.multiverseId}",
                                ic-target="#card"
                                ) View details
                                i.angle.double.right.icon
            tfoot
                tr
                    th(colspan="3")
                        .ui.right.floated.metadata.menu
                            if metadata.pagination
                                a.icon.item(
                                    ic-get-from!=metadata.pagination.first.href
                                    ic-target="#search-results"
                                    )
                                    i.step.backward.icon
                                for link in metadata.pagination.pages
                                    a.item(
                                        ic-get-from!=link.href
                                        ic-target="#search-results"
                                        class=link.currentPage ? "active" : ""
                                    ) #{link.name}
                                a.icon.item(
                                    ic-get-from!=metadata.pagination.last.href
                                    ic-target="#search-results"
                                    ) 
                                    i.step.forward.icon
else
    .ui.main.fluid.vertical.segment
        .ui.blue.message No results