if cards
    .ui.main.fluid.vertical.segment
        table.ui.celled.table
            thead
                tr
                    th Name
                    th.center.aligned Mana cost
                    th Type
                    th Tags
                    th.center.aligned Set
                    th
            tbody
                for card in cards
                    tr
                        td.collapsing #{card.name}
                        td.collapsing!= mana.mana2x(card.manaCost)
                        td.collapsing #{card.type}
                        td
                            if card.tags
                                .ui.blue.labels
                                    for tag in card.tags
                                        .ui.label #{tag}
                        td.collapsing #{card.set}                                        
                        td.collapsing
                            .ui.primary.button(
                                ic-get-from="/api/cards/#{card.multiverseId}",
                                ic-target="#card"
                                ) View details
                                i.angle.double.right.icon
            tfoot
                tr
                    th(colspan="6")
                        .ui.right.floated.metadata.menu
                            if metadata.pagination
                                a.icon.item(
                                    ic-get-from!=metadata.pagination.first.href
                                    ic-target="#search-results"
                                    )
                                    i.step.backward.icon
                                for link in metadata.pagination.pages
                                    a.item(
                                        ic-get-from!=link.href
                                        ic-target="#search-results"
                                        class=link.currentPage ? "active" : ""
                                    ) #{link.name}
                                a.icon.item(
                                    ic-get-from!=metadata.pagination.last.href
                                    ic-target="#search-results"
                                    ) 
                                    i.step.forward.icon
else
    .ui.main.fluid.vertical.segment
        .ui.blue.message No results